<div class="form1">
    <div class="form-outline mb-4">
        <input type="text" id="form7Example1" class="form-control" placeholder="Source Code"/>
      </div>
      
      <div class="form-outline mb-4">
        <input type="text" id="form7Example2" class="form-control" placeholder="CAM ID"/>
      </div>
    
      <div class="form-outline mb-4">
        <input type="text" id="form7Example2" class="form-control" placeholder="TRANSACTION ID"/>
      </div>
    
      <div class="form-outline mb-4">
        <input type="text" id="form7Example2" class="form-control" placeholder="RUN INSTANCE ID"/>
      </div>
    
      <div class="form-outline mb-4">
        <input type="text" id="form7Example2" class="form-control" placeholder="CUSIP"/>
      </div>
    
      <div class="form-outline mb-4">
        <input type="text" id="form7Example2" class="form-control" placeholder="FEED CODE"/>
      </div>
    
      <div class="form-outline mb-4">
        <input type="text" id="form7Example2" class="form-control" placeholder="PAM ACCT ID"/>
      </div>
      <button class="btn btn-primary">Submit</button>
    </div>